body.dark-mode {
  background-color: black;
  background-image: linear-gradient(120deg, #101010 0%, #181818 100%);
  color: #fbfbfb;

  .d-in-black {
    display: inline-block;
  }

  .h-in-black {
    display: none;
  }

  .text-dark {
    color: #ff0040 !important;
  }
  .rule-box{
    border-left: 2px solid #eee;
  }
  .create-room-modal .modal-body {
    background: #101010;

    .btn-start-game {
      color: white;
    }
  }

  .scoreboard {
    color: white;
  }

  .board-box {
    border: 1px solid #0299ff;

    .board-cell {
      border-color: #0299ff;

      &.empty, &.player1, &.player2, &.player3, &.player4 {
        background: #202020;
      }
      &.locked{
        border: none;
        background: #bbbbbb;
      }
    }
  }


  input.form-control {
    background: #101010;
    color: #ff0040;
    border-color: #ff0040;
  }

  .chat-box{
    background: black;
    border: 1px solid #ff0040;
    .times-btn{
      color:#ff0040;
    }
    input{
      background: #101010;
      color: #ff0040;
      border-color: #ff0040;
      border-right: none;
    }
  }
}


.dark-mode-bubble {
  position: absolute;
  top: 20px;
  right: 80px;
  /* background: #101010; */
  border-radius: 1.4em;
  border-top-right-radius: 0;
  font-size: 13px;
  color: black;
  font-weight: 800;
  z-index: 20;
  opacity: 0.9;
}


/* The switch - the box around the slider */
.dark-switch {
  position: fixed;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 60px;
  height: 25px;
  opacity: 0.3;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: black;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
