@import './general-style';
@import './animations';
@import './dark-mode';
/* Components */

@import "components/board";
@import "components/cell";
@import "components/header";
@import "components/layout";
@import "components/scoreboard";
@import "components/message";
