<div class="row">
  <div class="col text-center pt-5">
    <h1 class="text-light">Welcome To Clonium</h1>
    <h2 class="text-success mb-5">This is an open alpha version, the game development is still in progress</h2>

    <button class="btn btn-outline-primary mr-3" (click)="displayCreateModal=true">Create Room</button>
    <a routerLink="/join-room"><button class="btn btn-outline-primary">Join Room</button></a>

    <h6 class="text-light mt-5 font-weight-lighter">
      Developed by : Rafaa Seddik & Ahmed Khalil Seddik
    </h6>
  </div>
</div>

<div class="create-room-modal" *ngIf="displayCreateModal">
  <div class="modal-body">
    <h3>Create Room</h3>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-4 pt-0">Multiplayer mode</legend>
        <div class="col-sm-8">
          <div class="form-check"><input class="form-check-input" type="radio" name="multiplayerMode" id="radiosingle"
                                         value="single" [(ngModel)]="multiplayerMode"><label
            class="form-check-label" for="radiosingle">Single Device Game</label><br></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="multiplayerMode" id="radioonline"
                                         value="online" [(ngModel)]="multiplayerMode"><label
            class="form-check-label" for="radioonline">Online Game</label></div>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-4 pt-0">Map</legend>
        <div class="col-sm-8">
          <div class="form-check"><input class="form-check-input" type="radio" name="map" id="radiorect1" value="rect1"
                                         [(ngModel)]="map"><label
            class="form-check-label mb-1" for="radiorect1"><img src="assets/img/1.jpg" width="60"></label><br></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="map" id="radiorect2" value="rect2"
                                         [(ngModel)]="map"><label
            class="form-check-label mb-1" for="radiorect2"><img src="assets/img/2.jpg" width="60"></label><br></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="map" id="radiorect3" value="rect3"
                                         [(ngModel)]="map"><label
            class="form-check-label mb-1" for="radiorect3"><img src="assets/img/3.jpg" width="60"></label></div>
        </div>
      </div>
    </fieldset>

    <button class="btn btn-outline-dark" *ngIf="multiplayerMode=='online'" (click)="createOnlineGame()">Create Room Link</button>
    <button class="btn btn-outline-dark" *ngIf="multiplayerMode=='single'" (click)="createSingleDeviceGame()">Start Game</button>
    <button class="btn ml-2 btn-outline-danger" (click)="displayCreateModal=false">Cancel</button>

  </div>
</div>
