.board-box{
  display: flex;
  flex-direction: column;
  max-width: calc(99vh - 60px);
  .board-row{
    display: flex;
    flex-direction: row;
    .board-cell{
      display: flex;
      flex-grow: 1;
      align-items: center;
      text-align: center;
      justify-items: center;
      flex-basis: 100%;
      border: 1px solid black;
      &.locked{
        background-color: black;
      }
      &.empty{
        background-color: gray;
      }
      &.player1{
        &.value-1{
          background-image: url('assets/img/cell/blue_1.png');
          background-size: cover;
        }
        &.value-2{
          background-image: url('assets/img/cell/blue_2.png');
          background-size: cover;
        }
        &.value-3{
          background-image: url('assets/img/cell/blue_3.png');
          background-size: cover;
        }
        &.value-4{
          background-image: url('assets/img/cell/blue_4.png');
          background-size: cover
        }
        &.clickable{
          cursor: pointer;
          background-color: #0299ff;
          //box-shadow: inset 0 0 15px 0 #000;
        }
        background: gray;
      }
      &.player2{
        &.value-1{
          background-image: url('assets/img/cell/red_1.png');
          background-size: cover;
        }
        &.value-2{
          background-image: url('assets/img/cell/red_2.png');
          background-size: cover;
        }
        &.value-3{
          background-image: url('assets/img/cell/red_3.png');
          background-size: cover;
        }
        &.value-4{
          background-image: url('assets/img/cell/red_4.png');
          background-size: cover
        }
        &.clickable{
          cursor: pointer;
          background-color: #ff0040;
          //box-shadow: inset 0 0 15px 0 #000;
        }
        background: gray;
      }
      .board-value{
        text-align: center;
        width: 100%;
        font-size: 28px;
        font-weight: 700;
      }
      &:before {
        content:'';
        //float:c;
        padding-top:100%;
      }
    }
  }
}
