body{
  background-color: black;
  &::before{
    background-image: url('assets/img/bg.jpg');
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
  }
}


.create-room-modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color:#00000090;

  .modal-body{
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    max-width: 500px;

  }
}
