.main-logo{
  position: fixed;
  top:15px;
  left:15px;
  cursor: pointer;
}
.room-id-input{
  margin-top: 30px;
  background-color: transparent;
}
.pointer{
  cursor: pointer;
}
.blue-color{
  color:#0299ff;
}
.red-color{
  color:#ff0040;
}
.green-color{
  color:#15d416;
}
.yellow-color{
  color: #c0a60b;
}
