
<div class="col-12 text-center mt-5 pt-5 h-in-black"><img src="assets/img/LogoFinal.png" class="h-in-black" width="350"></div>
<div class="col-12 text-center mt-5 pt-5 d-in-black"><img src="assets/img/LogoFinalDark.png" class="d-in-black" width="350"></div>


<h1 class="text-dark text-center mt-5 font-weight-bold">Join Room</h1>
<input class="form-control room-id-input" placeholder="Room ID" [(ngModel)]="roomID">
<button class="btn btn-primary mt-2 col-12" (click)="submit()">Enter Room</button>
