@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');
@import url('https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css');
@import "node_modules/bootstrap/scss/bootstrap";
@import "assets/style/main.scss";
/* You can add global styles to this file, and also import other style files */
td{
    background-color: black;;
    padding:10px;
    border: 1px solid white;
    &.playable{
        background-color: green;
    }
}
