<div class="board-box">
  <div *ngFor="let row of board.playedCells" class="board-row">
    <div *ngFor="let cell of row" [class]="'board-cell '+cell.getPlayer()" (click)="increment(cell)"
         [class.clickable]="board.currentState==GameState.PLAYER_1 && cell.player==Player.PLAYER_1 || board.currentState==GameState.PLAYER_2 && cell.player==Player.PLAYER_2">
      <div class="cell-explosion cell-explosion-up" *ngIf="cell.value==4 && board.canPlay(cell.x,cell.y-1)"></div>
      <div class="cell-explosion cell-explosion-bottom" *ngIf="cell.value==4 && board.canPlay(cell.x,cell.y+1)"></div>
      <div class="cell-explosion cell-explosion-right" *ngIf="cell.value==4 && board.canPlay(cell.x+1,cell.y)"></div>
      <div class="cell-explosion cell-explosion-left" *ngIf="cell.value==4 && board.canPlay(cell.x-1,cell.y)"></div>
      <!--<div class="board-value" *ngIf="cell.value>0">{{cell.value}}</div>-->
    </div>
  </div>
</div>

